@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    display: flex;
    justify-content: space-around;
}

/* Centering navigation links */
nav a {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #5E503F;
    text-decoration: none;
    padding: 35px;
}

/* Centering heading elements within #hero-msg */
#hero-msg h1,
#hero-msg h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: white;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
/* Centering elements with class .button-box */
.button-box {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Centering section content within main */
main section {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.home-grid {
    display: grid;
    grid-template-columns: 10fr;
}

#background {
    height: 725px;
}

/* Setting background color for body */
body {
    background-color: #276FBF;
    color: white; /* Setting text color to white */
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

/* Setting background color for header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #DF9B6D;
}

/* Setting background color for navigation links on hover */
nav a:hover {
    background-color: #9BC1BC;
    color: #276FBF; /* Setting text color on hover */
}

/* Changing text color for element with class .home-title */
.home-title {
    font-family: 'Roboto Condensed', Helvetica;
    font-size: 2em;
    color: #9BC1BC;
    margin-top: 10px;
}

main section img {
    box-sizing: border-box;
}

/* Changing text color for heading element h4 */
h4 {
    color: #9BC1BC;
}

/* Setting background color for elements with class .book and .join */
.book,
.join {
    font-family: 'Raleway', sans-serif;
    background-color: #5E503F;
    color: white; /* Setting text color to white */
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

/* Setting background color for elements with class .book and .join on hover */
.book:hover,
.join:hover {
    background-color: #DF9B6D;
    color: #276FBF;
}

/* Setting background color for element with ID #background */
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: #276FBF;
    color: white; /* Setting text color to white */
}

/* Setting background color for element with class .msg */
.msg {
    background-color: #9BC1BC;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}

/* Changing text color for heading element h2 within element with class .msg */
.msg h2 {
    font-family: 'Roboto Condensed', Helvetica;
    color: #5E503F;
}

/* Changing text color for paragraph elements within element with class .msg */
.msg p {
    font-family: 'Raleway', sans-serif;
    color: #5E503F;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.rivers-card  {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card{
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img {
    border: 10px solid #DF9B6D;
    width: 100%;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}

/* Setting background color for footer */
footer {
    background-color: #5E503F;
    color: white; /* Setting text color to white */
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Changing text color for links within footer */
footer a {
    font-family: 'Raleway', sans-serif;
    color: #9BC1BC;
    text-decoration: none;
}


/* Changing text color for links within footer on hover */
footer a:hover {
    color: white;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* Adding width to the logo */
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

/* Giving a responsive width to the hero image */
#hero-img {
    width: 100%;
}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}