@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap');

#content {
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link {
    padding-top: 5px;
}

/* Centering navigation links */
nav a {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    color: #5E503F;
    text-decoration: none;
    padding: 35px;
}

/* Centering heading elements within #hero-msg */
#hero-msg h1,
#hero-msg h4 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Centering elements with class .button-box */
.button-box {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* Centering section content within main */
main section {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

#background {
    height: 725px;
}

/* Setting background color for body */
body {
    background-color: #276FBF;
    color: white; /* Setting text color to white */
    margin: 0;
    padding: 0;
}
h2 {
    margin: 0;
}

/* Setting background color for header */
header {
    background-color: #DF9B6D;
}

/* Setting background color for navigation links on hover */
nav a:hover {
    background-color: #9BC1BC;
    color: #276FBF; /* Setting text color on hover */
}

/* Changing text color for element with class .home-title */
.home-title {
    font-family: 'Roboto Condensed', Helvetica;
    font-size: 2em;
    color: #9BC1BC;
    margin-top: 10px;
}

main section img {
    box-sizing: border-box;
}

/* Changing text color for heading element h4 */
h4 {
    color: #9BC1BC;
}

/* Setting background color for elements with class .book and .join */
.book,
.join {
    font-family: 'Raleway', sans-serif;
    background-color: #5E503F;
    color: white; /* Setting text color to white */
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

/* Setting background color for elements with class .book and .join on hover */
.book:hover,
.join:hover {
    background-color: #DF9B6D;
    color: #276FBF;
}

/* Setting background color for element with ID #background */
#background {
    background-color: #276FBF;
    color: white; /* Setting text color to white */
}

/* Setting background color for element with class .msg */
.msg {
    background-color: #9BC1BC;
    line-height: 1.5em;
    padding: 35px;
    margin-top: 150px;
}

/* Changing text color for heading element h2 within element with class .msg */
.msg h2 {
    font-family: 'Roboto Condensed', Helvetica;
    color: #5E503F;
}

/* Changing text color for paragraph elements within element with class .msg */
.msg p {
    font-family: 'Raleway', sans-serif;
    color: #5E503F;
    font-size: 0.8em;
    padding-bottom: 15px;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}

.card-img {
    border: 10px solid #DF9B6D
}

/* Setting background color for footer */
footer {
    background-color: #5E503F;
    color: white; /* Setting text color to white */
    padding: 25px 50px;
    margin-top: 200px;
}

/* Changing text color for links within footer */
footer a {
    font-family: 'Raleway', sans-serif;
    color: #9BC1BC;
    text-decoration: none;
}


/* Changing text color for links within footer on hover */
footer a:hover {
    color: white;
}

footer p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* Adding width to the logo */
.logo {
    width: 80px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

/* Giving a responsive width to the hero image */
#hero-img {
    width: 100%;
}