@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Alice&display=swap');
:root {
    --primary-color: #8096A4;
    --secondary-color: #928F6E;
    --accent1-color: #34252F;
    --accent2-color: #0B5351;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
}



#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

nav {
    
    display: flex;
    justify-content: space-around;
}

/* Centering navigation links */
nav a {
    font-family: 'Alegreya', serif;
    text-align: center;
    color: var(--primary-color);
    text-decoration: none;
    padding: 35px;
    font-size: x-large;
}

/* Centering section content within main */
main section {
    font-family: 'Alice', serif;
    text-align: center;
    font-size: large;
    margin-left: 200px;
    margin-right: 200px;
}
main h1 {
    font-family: 'Alice' , serif;
    text-align: center;
    font-size: xx-large;
    margin: 50px;
}

main img  {
    margin: 20px;
    width: 85%;
    height: auto;
    max-width: 100%;
}


/* Setting background color for body */
body {
    background-color: var(--secondary-color);
    color: var(--accent1-color); /* Setting text color to white */
    margin: 0;
    padding: 0;
}

/* Setting background color for header */
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: var(--accent1-color);
}

/* Setting background color for navigation links on hover */
nav a:hover {
    background-color: var(--accent2-color);
    color: var(--secondary-color); /* Setting text color on hover */
}

/* Changing text color for heading element h4 */
h4 {
    color: var(--accent1-color);
}

/* Setting background color for element with ID #background */
#background {
    grid-column: 1/11;
    grid-row: 4/9;
    background-color: var(--secondary-color);
    color: var(--accent1-color); /* Setting text color to white */
}

/* Setting background color for footer */
footer {
    background-color: var(--primary-color);
    color: var(--accent2-color); /* Setting text color to white */
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Changing text color for links within footer */
footer a {
    font-family: 'Alegreya', serif;
    color: var(--accent2-color);
    text-decoration: none;
}

/* Changing text color for links within footer on hover */
footer a:hover {
    color: white;
}

footer p {
    font-family: 'Alegreya', serif;
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

/* Adding width to the logo */
.logo {
    width: 100px;
}

.icon {
    width: 80px;
    padding-top: 10px;
}

.play-button {
    background-color: #0B5351;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.play-button:hover {
    background-color: #0B7371;
}

.play-button-message {
    display: none;
    color: red;
    margin-top: 10px;
}

.play-button:hover + .play-button-message {
    display: block;
}


